<div class="level is-mobile browse-row" (click)="openLink(node)">
  <div class="level-left">
    <div class="icon">
      <i class="{{node | nodeIcon}}"></i>
    </div>
    <div class="level-item browse-name">
      {{node?.name}}
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <app-browse-actions [node]="node"></app-browse-actions>
    </div>
    <div class="level-item browse-modified is-hidden-touch">
      {{node?.modify_date | date }}
    </div>
    <div class="level-item browse-size is-hidden-touch">
      {{node?.size_formatted }}
    </div>
  </div>
</div>