<div class="home">

    <div class="columns">
  
      <div class="column is-4">
        <div class="widget is-raised">
  
          <nav class="navbar is-info" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <div class="navbar-item">
                <span class="icon widget-icon">
                  <i class="fas fa-tasks"></i>
                </span>
                <span class="nav-title widget-title">My tasks</span>
              </div>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end">
              </div>
            </div>
          </nav>
  
          <div class="widget-content">
  
            <div *ngIf="!assignments" class="widget-row">
              No assignments available
            </div>
  
            <div class="widget-row" *ngFor="let assignment of assignments" (click)="openLink(assignment)">
              <div class="icon">
                <i class="{{assignment | nodeIcon}}"></i>
              </div>
              {{assignment.name}}
            </div>
  
          </div>
  
        </div>
      </div>

      <div class="column is-4">
          <div class="widget is-raised">
    
            <nav class="navbar is-success" role="navigation" aria-label="main navigation">
              <div class="navbar-brand">
                <div class="navbar-item">
                  <span class="icon widget-icon">
                    <i class="fas fa-map"></i>
                  </span>
                  <span class="nav-title widget-title">Initiated jobs</span>
                </div>
              </div>
              <div class="navbar-menu">
                <div class="navbar-end">
                </div>
              </div>
            </nav>
    
            <div class="widget-content">
    
              <div *ngIf="!initiated" class="widget-row">
                No initiated jobs available
              </div>
    
              <div class="widget-row" *ngFor="let item of initiated" (click)="openLink(item)">
                <div class="icon">
                  <i class="{{item | nodeIcon}}"></i>
                </div>
                {{item.name}}
              </div>
    
            </div>
    
          </div>
        </div>

        <div class="column is-4">
        <div class="widget is-raised">
  
          <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <div class="navbar-item">
                <span class="icon widget-icon">
                  <i class="fas fa-map"></i>
                </span>
                <span class="nav-title widget-title">Managed jobs</span>
              </div>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end">
              </div>
            </div>
          </nav>
  
          <div class="widget-content">
  
            <div *ngIf="!managed" class="widget-row">
              No managed jobs available
            </div>
  
            <div class="widget-row" *ngFor="let item of managed" (click)="openLink(item)">
              <div class="icon">
                <i class="{{item.properties | nodeIcon}}"></i>
              </div>
              {{item.name}}
            </div>
  
          </div>
  
        </div>
      </div>
  
    </div>
  
  </div>