.browse-container {
	margin-bottom: 3em;
}

.browse-container-name {
	font-size: 2em;
	padding-left: 2em;
	padding-top: 0.2em;
}

.browse-panel {
	list-style-type: none;
}

.browse-item {
	border-bottom: thin solid black;
}

.browse-item :hover {
	background-color: #F2EDF2;
}

.browse-icon {
	float: left;
	font-size: 2.4em;
	padding-top: 0.15em;
}

.browse-details {
	padding-left: 4em;
}
