.browse-table {
  margin-top: 1rem;
}

.browse-header {
  border-bottom: 1px solid #363636;
  margin-bottom: 0;
}

.browse-header .level-item {
  padding: 0.5em 0.75em;
}

.browse-name {
  display: block;
}

.browse-modified {
  width: 8rem;
  display: block;
}

.browse-size {
  width: 7rem;
  display: block;
}