.browse-loader {

  .modal-background {
    background-color: rgba(255, 255, 255, 0);
  }

  .modal-content {
    border: 1px solid #c3c3c3;
    box-shadow: 3px 3px 5px 3px #d3d3d3;
  }

  .browse-loader-content {
    background-color: #fff;
    height: 150px;

    .level-left {
      margin: auto;
    }

  }
}

.browse-breadcrumbs {
  margin-bottom: 1rem;
}

.browse-table {
  margin-top: 1rem;
}

.browse-header {
  border-bottom: 1px solid #363636;
  margin-bottom: 0;
}

.browse-header .level-item {
  padding: 0.5em 0.75em;
}

.browse-row {
  line-height: 1.5rem;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
}

.browse-row .level-item {
  padding: 0.5em 0.75em;
}

.browse-name {
  display: block;
}

.browse-name {
  display: block;
}

.browse-modified {
  width: 8rem;
  display: block;
}

.browse-size {
  width: 7rem;
  display: block;
}