<section class="section">

  <div class="container is-fluid" *ngIf="loading">
    <div class="icon">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div> Retrieving information
  </div>

  <div *ngIf="!loading && node">

    <div class="browse-breadcrumbs container is-fluid">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li *ngIf="!node.ancestors || node.ancestors.length === 0">&nbsp;</li>
          <li *ngFor="let ancestor of node.ancestors">
            <a routerLink="/browse/{{ancestor.id}}">{{ancestor.name}}</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container is-fluid">
      <h4 class="title is-4">{{node.name}}</h4>
    </div>

    <div class="container is-fluid browse-table">
      <div class="level is-mobile browse-header" routerLink="/browse/{{node.id}}">
        <div class="level-left">
          <div class="icon">
            <i class=""></i>
          </div>
          <div class="level-item browse-name">
            Name
          </div>
        </div>
        <div class="level-right">
          <div class="level-item browse-modified is-hidden-touch">
            Modified
          </div>
          <div class="level-item browse-size is-hidden-touch">
            Size
          </div>
        </div>
      </div>
      <div *ngIf="node?.children?.length === 0" class="level is-mobile browse-row" routerLink="/browse/{{node.id}}">
        <div class="level-left">
          <div class="icon">
            <i class=""></i>
          </div>
          <div class="level-item browse-name">
            No items
          </div>
        </div>
      </div>
      <app-browse-row *ngFor="let child of node.children" [node]="child"></app-browse-row>
      <app-browse-pagination [currentPage]="currentPage" [pages]="pages" [pageSize]="pageSize" (pageSizeChanged)="pageSizeChanged($event)"
        (changePage)="changePage($event)"></app-browse-pagination>
    </div>

  </div>

  <div class="container is-fluid" *ngIf="!loading && !node">
    Unable to retrieve this item.
  </div>

</section>