<section class="section">

  <div class="container is-fluid" *ngIf="loading">
    <div class="icon">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div> Retrieving information
  </div>

  <div *ngIf="!loading && node">

    <div *ngIf="node.ancestors && node.ancestors.length > 0" class="container is-fluid">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li *ngFor="let ancestor of node.ancestors">
            <a routerLink="/browse/{{node.id}}">{{ancestor.name}}</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container is-fluid">
      <h4 class="title is-4">{{node.name}}</h4>
    </div>

    <div class="container is-fluid browse-table">
      <div class="level browse-header" routerLink="/browse/{{node.id}}">
        <div class="level-left">
          <div class="level-item">
            Name
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            Modified
          </div>
        </div>
      </div>
      <app-browse-row *ngFor="let child of node.children" [node]="child"></app-browse-row>
      <app-browse-pagination></app-browse-pagination>
    </div>

  </div>

  <div class="container is-fluid" *ngIf="!loading && !node">
    Unable to retrieve this item.
  </div>

</section>