<div class="container">
	<div>
		<ol class="breadcrumb">
			<li ng-repeat="crumb in crumbs">
				<a href="#/browse/{{crumb.id}}">{{crumb.name}}</a>
			</li>
		</ol>
	</div>
	<div class="browse-container">
		<i class="browse-container-name-icon fa fa-3x {{getIcon(container.data)}}"></i>
		<div class="browse-container-name">{{container.data.name}}</div>
	</div>
	<div id="itemList">
		<ul class="browse-panel">
			<li ng-repeat="node in nodes" class="browse-item" ng-click="openNode(node.type_name, node.id)">
				<i class="browse-icon fa fa-2x {{getIcon(node)}}"></i>
				<div class="browse-details">
					<span class="browse-name">{{node.name}}</span><br>
					<span class="browse-details">Modified: {{setDate(node.modify_date)}}</span>
				</div>
			</li>
		</ul>
	</div>
</div>