<div class="modal-content">
	<div class="modal-header">
		&nbsp;<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	</div>
	<div class="modal-body" ng-show="viewer.error">
		<p class="bg-danger text-center">&nbsp;<br>
		There was an error retrieving the information from the server.<br>
		Please refresh the page<br>&nbsp;</p>
	</div>
	<div ng-show="!viewer.error">
		<div class="modal-body" ng-show="!viewer.enabled">
			<p class="bg-info text-center">&nbsp;<br>
			This item cannot be opened. It is a custom Content Server object.<br>
			Please use Content Server to view this item.<br>&nbsp;</p>
		</div>
		<div ng-show="viewer.enabled">
			<div class="modal-body" ng-show="viewer.supportedType === false">
				<p class="bg-warning text-center">&nbsp;<br>
				This file format cannot be opened with this viewer.<br>&nbsp;</p>
			</div>
			<div ng-show="viewer.supportedType === true">
				<iframe style="width:100%;height:800px;" frameborder="0" src="{{source}}"></iframe>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">Close</button>
	</div>
</div>