<div class="home">

  <div class="columns">

    <div class="column is-12">
      <div class="widget">
        welcome banner
      </div>
    </div>

  </div>

  <div class="columns">

    <app-list-widget class="column is-4" [config]="favouritesConfig" [items]="favourites"></app-list-widget>
    <app-list-widget class="column is-4" [config]="tasksConfig" [items]="tasks"></app-list-widget>
    <app-list-widget class="column is-4" [config]="recentConfig" [items]="recent"></app-list-widget>

  </div>

</div>