<div class="columns">
  <div class="column is-3">
    <div class="dl-widget dl-widget-assignments">
      <div class="dl-widget-header">
        <div class="dl-widget-icon icon">
          <i class="fas fa-question"></i>
        </div>
        <div class="dl-widget-title">
          <p>My Assignments</p>
        </div>
      </div>
      <div class="dl-widget-content">
        <div class="widget-row favorite-row" data-link="null">
          <div class="widget-row-icon icon-workflow-task"></div>
          <div class="widget-row-thin">
            <p>Process Document</p>
          </div>
        </div>
        <div class="widget-row favorite-row" data-link="null">
          <div class="widget-row-icon icon-workflow-task"></div>
          <div class="widget-row-thin">
            <p>Setup Workflow</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3">
    <div class="dl-widget dl-widget-favorites">
      <div class="dl-widget-header">
        <div class="dl-widget-icon icon">
          <i class="fas fa-question"></i>
        </div>
        <div class="dl-widget-title">
          <p>Favorites</p>
        </div>
      </div>
      <div class="dl-widget-content">
        <div class="widget-row favorite-row" data-link="110230">
          <div class="widget-row-icon icon-workflow-map"></div>
          <div class="widget-row-thin">
            <p>Create New Briefing</p>
          </div>
        </div>
      </div>
      <div class="dl-widget-expanded expanded-favorites">
        <div class="dl-widget-expanded-wrapper">
          <div class="dl-widget-header">
            <div class="dl-widget-expanded-close">
              <div></div>
            </div>
            <div class="dl-widget-icon icon">
                <i class="fas fa-question"></i>
              </div>
                  <div class="dl-widget-title">
              <p>Favorites</p>
            </div>
          </div>
          <div class="dl-widget-expanded-content">
            <div class="widget-row favorite-row" data-link="110230">
              <div class="widget-row-icon icon-workflow-map"></div>
              <div class="widget-row-wide">
                <div class="widget-row-name">
                  <p>Create New Briefing</p>
                </div>
                <div class="widget-row-buttons icon">
                  <i class="fas fa-info"></i>
                </div>
                <div class="widget-row-date">26 Mar 2018 10:03 AM</div>
                <div class="widget-row-size">35 KB</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dl-widget-expand">
        <div></div>
      </div>
    </div>
  </div>
</div>